<h2>Admin Dashboard</h2>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 mb-3">
            <a href="/admin/home/tenantlist" class="btn btn-block btn-outline-primary">Manage Tenants</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="/admin/home/propertylist" class="btn btn-block btn-outline-primary">Manage Properties</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="/admin/home/registrationlist" class="btn btn-block btn-outline-primary">Manage Registrations</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="/admin/home/loanlist" class="btn btn-block btn-outline-primary">Manage Loans</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="/admin/home/testimoniallist" class="btn btn-block btn-outline-primary">Manage Testimonials</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="/admin/home/transactionlist" class="btn btn-block btn-outline-primary">Manage Transactions</a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="/admin/home/cancellationlist" class="btn btn-block btn-outline-primary">Manage Cancellations</a>
        </div>
    </div>
</div>
